@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Cabin+Sketch:wght@700&family=Libre+Baskerville&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Libre Baskerville, serif;
    font-weight: 300;
    color: #114b5f;
}

#logo h1 {
    font-family: Cabin Sketch, sans-serif;
    font-weight: 700;
    font-size: 300%;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #114b5f;
    text-align: center;
}

#menu {
    display: grid;
    grid-template-columns: repeat(7,1fr);
}

#menu li {
    list-style-type: none;
    color: #114b5f;
    margin: 10px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#nav-wrap {
    display: grid;
    grid-template-columns: 1fr minmax(80vw, auto) 1fr;
    grid-template-areas: 
    ". nav ."
    "logo logo logo";
    justify-items: center;
}

#nav {
    grid-area: nav;
}

#logo {
    grid-area: logo;
}